body { color : #8f8f8f; font-size : 12px;font-family :Comic Sans MS, verdana, sans-serif; background-color : #000000;max-width : 455px; margin : auto; margin-top: 15px;background-image : url(fon2.png); background-repeat :repeat;border: 1px solid #727272;} 

a:link, a:active, a:visited {color : #d98501; text-decoration : none; } 
a:hover, a:focus {text-decoration:underline;color : #ffffff;} 

.logo{ height : 48px; 
background-image : url(logo.png); 
background-repeat :repeat-x; 
background-position : left bottom;;text-align:left;color:#d98501;}


.fx {background-color :#000000;color:#ffffff;text-align:left;background-image : url(fx.gif); background-repeat :no-repeat;}

.fx a {color : #d98501; text-decoration : none;}
.fx a:hover  {text-decoration:underline;color :#ffffff;}

.fx2 {background-color :#000000;color:#ffffff;text-align:left;}

.fx2 a {color : #d98501; text-decoration : none;}
.fx2 a:hover  {text-decoration:underline;color : #ffffff;}

.center {background-color :#000000;color:#ffffff;text-align:center;}


.nav {height : 24px; 
background-image : url(nav.gif); 
background-repeat :repeat-x; 
background-position : left bottom; background-color :#000000;text-align:left;color:#ffffff;text-align: center;}
.nav a {color : #ffffff; text-decoration : none; } 
.nav a:hover  {text-decoration:underline;color : #ffffff;} 

.nav2 {height : 24px; 
background-image : url(nav2.gif); 
background-repeat :repeat-x; 
background-position : left bottom; background-color :#000000;text-align:left;color:#ffffff;text-align: center;}
.nav2 a {color : #ffffff; text-decoration : none; } 
.nav2 a:hover  {text-decoration:underline;color : #ffffff;}

.foot {height : 38 px;background-color :#000000;color:#a0a0a0;text-align:center;background-image : url(foot.png); background-repeat :repeat-x; margin-bottom:10px;}
.foot img{
  background-image: none;
  opacity: 0.3;
}

.foot img:hover{
  background-image: none;
  opacity: 0.9;}


#ss{color:#ffffff;}
#ss a{background-image : url(ico.gif); 
background-repeat : no-repeat; 
background-position : left 70%; 
padding-left : 16px;padding-bottom : 1px;
padding-top : 5px;color : #d98501; text-decoration : none;}
#ss a:hover{text-decoration:underline;color : #ffffff;background-image : url(tochka.png);margin-left:5px;}
#red{color:#ff0000;}
#red a{color:#ff0000;text-decoration:underline;}
#red a:hover {color:#ffffff;text-decoration:underline;}
#yellow{color:#ffffff;}
#yellow a{color:#ffcc00;text-decoration:underline;}
#yellow a:hover {color:#ffffff;text-decoration:underline;}
#green{color:#00ff00;}
#green a{color:#00ff00;text-decoration:underline;}
#green a:hover {color:#ffffff;text-decoration:underline;}


/ Style by Cssmaster
http://Cssmaster.m98.ru /